RewriteEngine On
RewriteBase /

RewriteRule ^sitemap\.xml$ index.php?rex_yrewrite_func=sitemap [NC,L]
RewriteRule ^robots\.txt$ index.php?rex_yrewrite_func=robots [NC,L]

# REWRITE RULE FOR AUTOMATIC JS/CSS VERSIONING
# RewriteRule ^(.*)\.[\d]+\.(css|js)$ $1.$2 [L]

# REWRITE RULE FOR SEO FRIENDLY IMAGE MANAGER URLS
RewriteRule ^files[0-9]*/imagetypes/([^/]*)/([^/]*) /index.php?rex_img_type=$1&rex_img_file=$2&%{QUERY_STRING} [B]
RewriteRule ^images/([^/]*)/([^/]*) /index.php?rex_img_type=$1&rex_img_file=$2&%{QUERY_STRING} [B]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteCond %{REQUEST_URI} !^redaxo/.*
RewriteCond %{REQUEST_URI} !^files/.*

RewriteRule ^(.*)$ index.php?%{QUERY_STRING} [L]
