name: Static Analysis

on:
    push:
        branches: [main, bugfix, temp]
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

jobs:
    psalm-analysis:
        name: psalm static code analysis
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 7.4
                    extensions: intl
                    coverage: none # disable xdebug, pcov

            -   name: Composer install
                uses: ramsey/composer-install@v1
                with:
                    composer-options: --ansi --prefer-dist

            -   name: Run psalm analysis
                run: vendor/bin/psalm --show-info=false --shepherd --diff --output-format=github
